<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team</h1>
  <form action="/newteam" method="post">
    <label for="name">Team Name:</label>
    <label for="name">coach:</label>
    <label for="name">Point Guard:</label>
    <label for="name">Team Name:</label>
    <label for="name">Team Name:</label>
    <label for="name">Team Name:</label>
    <label for="name">Team Name:</label>
    
  </form>
 </body>
</html>
